{% extends 'base.html' %}

{% block content %}


<div class="row">


  <div class="col-3 col-s-3 menu" style="direction:rtl;font-weight:bold;font-size:18px;">
    در این سایت شما می توانید مخاطب و شماره تلفن آن را ذخیره کنید</div>


<div style="direction:rtl"  class="col-6 col-s-9">
  <h1>ثبت نام</h1>
  <p>خواهشا به دقت مشخصات خواسته شده را پر کنید</p>
	<div >


<div class="container" >
  <form action="{% url 'signup' %}" method="POST">
<br>{% if error %}

{{error}}
<br><br>
{% endif %}

    <div class="row">
      {% csrf_token %}
      <div class="col-25">
        <label for="fname">نام</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="username" placeholder="نام ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">ایمیل</label>
      </div>
      <div class="col-75">
        <input type="email" id="fname" name="email" placeholder="ایمیل ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">رمز</label>
      </div>
      <div class="col-75">
        <input type="password" id="lname" name="password" placeholder="رمز">
      </div>
    </div>

	<div class="row">
      <div class="col-25">
        <label for="lname">تکرار رمز</label>
      </div>
      <div class="col-75">
        <input type="password" id="lname" name="confirm" placeholder="تکرار رمز ">
      </div>
    </div>
    <br>

    <div class="row">
      <input type="submit" value="Submit">
    </div>

  </form>
</div>

	</div>
</div>

{% endblock  %}
