{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}


<div class="row">

<div class="col-3 col-s-3 menu" style="direction:rtl;font-weight:bold;font-size:18px;">
  در این سایت شما می توانید مخاطب و شماره تلفن آن را ذخیره کنید</div>

<div style="direction:rtl"  class="col-6 col-s-9">
  <h1>ایمیل خود را چک کنید</h1>
  <p>برای شما یک رمز یک بار مصرف ارسال شد . </p>
  
	<div >


<div class="container" >
    <div class="row">
    </div>

</div>

	</div>
</div>


{% endblock %}
